@font-face {
  font-family: SfProDisplay;
  src: url(../../fonts/FontsFree-Net-SFProDisplay-Regular.ttf);
}

.collection {
  font-family: SfProDisplay;
}

.collection > div {
  height: 692px;
  margin-bottom: 12px;
  position: relative;
  overflow: hidden;
}

@media only screen and (max-height: 775px) {
  .collection > div {
    height: 580px;
  }
}

@media only screen and (max-width: 1068px) {
  .collection > div {
    height: 650px;
  }
}

.collection > div p {
  margin: 0px;
  font-size: 21px;
}

.collection > div h2 {
  margin: 0px;
}

.collection > div .sale {
  padding-top: 55px;
}

@media only screen and (max-height: 775px) {
  .collection > div .sale {
    padding-top: 47px;
  }
}

@media only screen and (max-width: 1068px) {
  .collection > div .sale {
    padding-top: 61px;
  }
}

.collection > div .sale p {
  line-height: 1.2;
  font-weight: 600;
}

.collection > div .sale h2 {
  font-size: 56px;
  width: 100%;
  text-align: center;
}

@media only screen and (max-width: 1068px) {
  .collection > div .sale h2 {
    font-size: 48px;
  }
}

.collection > div .sale h3 {
  margin: 6px 0px 0px 0px;
  font-size: 28px;
  font-weight: 400;
}

@media only screen and (max-width: 1068px) {
  .collection > div .sale h3 {
    font-size: 24px;
  }
}

.collection > div .sale .header-logo {
  height: 55px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

@media only screen and (max-width: 1068px) {
  .collection > div .sale .header-logo {
    height: 48px;
  }
}

.collection > div .apple-tv {
  color: #fff;
  height: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.collection > div .apple-tv .header {
  padding-top: 28px;
  font-size: 21px;
}

@media only screen and (max-width: 1068px) {
  .collection > div .apple-tv .header {
    padding-top: 61px;
  }
}

.collection > div .apple-tv .header > div {
  margin-top: 5px;
  height: 50px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../../assets/largest/hero_logo_coda__egdgy3v1cyc2_large.png);
}

.collection > div .apple-tv .bottom {
  padding-bottom: 31px;
}

.collection > div .apple-tv .bottom h2 {
  margin: 11px auto 0px;
  font-size: 28px;
  text-align: center;
  text-transform: uppercase;
}

.collection > div .apple-tv .bottom a {
  display: block;
  text-align: center;
  font-size: 21px;
}

.collection > div .apple-tv .bottom a::after {
  content: "\25B6";
  padding-left: 6px;
}

.collection > div.iphone13pro .main-img {
  background-image: url(../../assets/largest/hero_iphone13pro.jpg);
}

@media only screen and (max-height: 775px) {
  .collection > div.iphone13pro .main-img {
    background-image: url(../../assets/large/iphone13pro.jpg);
  }
}

@media only screen and (max-width: 1068px) {
  .collection > div.iphone13pro .main-img {
    background-image: url(../../assets//medium/hero_iphone13pro_avail__iy77cld0zwii_mediumtall.jpg);
  }
}

.collection > div.iphoneSE .header-logo {
  background-image: url(../../assets/largest/logo_iphonese.png);
}

@media only screen and (max-width: 1068px) {
  .collection > div.iphoneSE .header-logo {
    background-image: url(../../assets//medium/logo_hero_iphonese__dtb7zrygggeq_mediumtall.png);
  }
}

.collection > div.iphoneSE .main-img {
  background-image: url(../../assets/largest/iphonese.jpg);
}

@media only screen and (max-height: 775px) {
  .collection > div.iphoneSE .main-img {
    background-image: url(../../assets/large/hero_iphonese_avail__eg8srhcnpo66_large.jpg);
  }
}

@media only screen and (max-width: 1068px) {
  .collection > div.iphoneSE .main-img {
    background-image: url(../../assets//medium/hero_iphonese_avail__eg8srhcnpo66_mediumtall.jpg);
  }
}

.collection > div.coda .header-logo {
  background-image: url(../../assets/largest/logo_ipadair.png);
}

.collection > div.coda h3 {
  color: #fff;
}

.collection > div.coda .main-img {
  background-image: url(../../assets/largest/hero_coda__cv3jny7jpe6a_largetall.jpg);
}

@media only screen and (max-height: 775px) {
  .collection > div.coda .main-img {
    background-image: url(../../assets/large/hero_coda__cv3jny7jpe6a_large.jpg);
  }
}

@media only screen and (max-width: 1068px) {
  .collection > div.coda .main-img {
    background-image: url(../../assets//medium/hero_coda__cv3jny7jpe6a_mediumtall.jpg);
  }
}

.collection > div .main-img {
  width: 3008px;
  height: 736px;
  background-size: 3008px 736px;
}

@media only screen and (max-height: 775px) {
  .collection > div .main-img {
    height: 624px;
    background-size: 3008px 624px;
  }
}

@media only screen and (max-width: 1068px) {
  .collection > div .main-img {
    width: 1068px;
    height: 694px;
    background-size: 1068px 694px;
  }
}
/*# sourceMappingURL=collection.css.map */