@font-face {
    font-family: SfProDisplay;
    src: url(../../fonts/FontsFree-Net-SFProDisplay-Regular.ttf);
}

.collection {
    font-family: SfProDisplay;

    > div {
        height: 692px;
        margin-bottom: 12px;
        position: relative;
        overflow: hidden;

        .content {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            padding-top: 55px;
            position: relative; //for .ipadair .content

            p {
                margin: 0px;
                font-size: 21px;
                line-height: 1.2;
                font-weight: 600;
            }

            h2 {
                margin: 0px;
                font-size: 56px;
                width: 100%;
                text-align: center;
            }

            h3 {
                margin: 6px 0px 0px 0px;
                font-size: 28px;
                font-weight: 400;
            }

            .header-logo {
                height: 55px;
                width: 100%;
                background-position: center;
                background-repeat: no-repeat;
            }

            // For .iphone-links
            a {
                margin-right: 35px;
            }
        }

        &.iphone13pro {
            .main-img {
                background-image: url(../../assets/largest/hero_iphone13pro.jpg);
                @media only screen and (min-height: 776px) {
                }
                @media only screen and (max-height: 775px) {
                    background-image: url(../../assets/iphone13pro.jpg);
                }
            }
        }

        &.iphoneSE {
            .header-logo {
                background-image: url(../../assets/largest/logo_iphonese.png);
            }
            .main-img {
                background-image: url(../../assets/largest/iphonese.jpg);
            }
        }

        &.ipadair {

            .content {
                padding-top: 253px;
                right: 337px;

                .header-logo {
                    background-image: url(../../assets/largest/logo_ipadair.png);
                }

                h3 {
                    color: #fff;
                }
            }

            .main-img {
                background-image: url(../../assets/largest/ipadair.jpg);
            }
        }

        .main-img {
            z-index: -1;
            width: 3008px;
            height: 736px;
            background-size: 3008px 736px;
        }
    }
}