

.grid {

    .grid-wrapper {
        display: grid;
        //padding-top: 12px;
        padding-left: 12px;
        background-color: white;
        grid-template-columns: auto 50%;

        .item-wrapper {
            padding-right: 12px;
            padding-bottom: 12px;
            background-color: rgba(255,255,255,0.92);

            .item {
                height: 580px;
                overflow: hidden;
                position: relative;

                .apple-tv {
                    height: 100%;
                    justify-content: space-between;
                }

                .content {
                    z-index: 2;
                    display: flex;
                    position: relative;
                    align-items: center;
                    flex-direction: column;

                    h4 {
                        font-size: 40px;
                        margin: 53px auto 0px;
                        //margin: 0px;
                    }

                    h5 {
                        font-size: 21px;
                        margin: 10px 0px 0px 0px;
                    }

                    .watch-header {
                        font-size: 56px;
                        margin: 53px auto 0px;
                        color: rgba(0, 0, 0, 0);
                        background-position: center;
                        background-repeat: no-repeat;
                        background-image: url(../../assets/logo_watch.png);
                    }

                    .efto-header {
                        width: 100%;
                        color: rgba(0, 0, 0, 0);
                        background-position: center;
                        background-repeat: no-repeat;
                        background-image: url(../../assets/promo_logo_aaw__dq7tgf4m5ieu_large.png);
                    }

                    .pochinko-header {
                        width: 100%;
                        color: rgba(0, 0, 0, 0);
                        background-position: center;
                        background-repeat: no-repeat;
                        background-image: url(../../assets/logo_light__cfvl40z2nzau_large.png);
                    }

                    .iphone-links {
                        font-size: 21px;
                        margin-top: 14px;

                        a {
                            color: #06c;

                            &::after {
                                content: ">";
                                padding-left: 6px;
                            }
                        }
                    }

                    .efto-bottom {
                        width: 100%;
                        //height: 108px;
                        
                        > div {
                            //remove color
                            color: white;
                            width: 100%;
                            height: 108px;
                            //height: 100%;
                            padding: 4px auto 0px;
                            background-repeat: no-repeat;
                            background-position: center;
                            background-image: url(../../assets/promo_logo_efto__c391lzc975ua_large.png);
                        }

                        a {
                            padding-top: 16px;
                            padding-bottom: 32px;
                            display: block;
                            font-size: 17px;
                            line-height: 1.2em;
                            width: 100%;
                            text-align: center;
                        }
                    }

                    .pochinko-bottom {
                        width: 100%;
                        //height: 108px;
                        
                        > div {
                            //remove color
                            color: white;
                            width: 100%;
                            height: 108px;
                            //height: 100%;
                            padding: 4px auto 0px;
                            background-repeat: no-repeat;
                            background-position: center;
                            background-image: url(../../assets/promo_logo_pachinko__ec7gsyeb4uqa_large.png);
                        }

                        h6 {
                            font-size: 21px;
                            line-height: 1.2em;
                            margin: 14px 0px 0px 0px;
                            color: #f5f5f7;
                            text-align: center;
                        }

                        a {
                            padding-top: 16px;
                            padding-bottom: 32px;
                            display: block;
                            font-size: 17px;
                            line-height: 1.2em;
                            width: 100%;
                            text-align: center;
                        }
                    }
                }

                .item-img {
                    border: 0;
                    margin: 0;
                    top: auto;
                    z-index: 1;
                    padding: 0;
                    right: auto;
                    bottom: 0px;
                    height: 580px;
                    width: 1262px;
                    position: absolute;
                    left: calc(50% + 0px);
                    transform: translatex(-50%);
                    background-repeat: no-repeat;
                    background-size: 1262px 580px;
                    -webkit-transform: translatex(-50%);
                }

                .studio-display {
                    background-image: url(../../assets/promo_studiodisplay_avail__d1cx9j73ooq6_large.jpg);
                }

                .mac-studio {
                    background-image: url(../../assets/promo_macstudio_avail__byhwkp0o4gty_large.jpg);
                }

                .iphone13 {
                    background-image: url(../../assets/promo_iphone13_avail__frc36u35m0ii_large.jpg);
                }

                .watch {
                    background-image: url(../../assets/promo_watch_lte__djeaso7ukrsm_large.jpg);
                }

                .escape-from {
                    background-image: url(../../assets/promo_efto__9gdao7fl4sy6_large.jpg);
                }

                .pachinko {
                    background-image: url(../../assets/promo_pachinko__ge0kbw3uikmm_large.jpg);
                }

            }
        }
    }
}