.grid .grid-wrapper {
  display: -ms-grid;
  display: grid;
  padding-left: 12px;
  -ms-grid-columns: auto 50%;
      grid-template-columns: auto 50%;
}

.grid .grid-wrapper .item-wrapper {
  z-index: 1;
  padding: 0px 12px 12px 0px;
  background-color: rgba(255, 255, 255, 0.92);
}

.grid .grid-wrapper .item-wrapper:nth-child(3) {
  color: white;
}

.grid .grid-wrapper .item-wrapper .item {
  height: 580px;
  overflow: hidden;
  position: relative;
}

@media only screen and (max-width: 1068px) {
  .grid .grid-wrapper .item-wrapper .item {
    height: 490px;
  }
}

.grid .grid-wrapper .item-wrapper .item .content h4 {
  font-size: 40px;
  margin: 53px auto 0px;
}

@media only screen and (max-width: 1068px) {
  .grid .grid-wrapper .item-wrapper .item .content h4 {
    margin: 42px auto 0px;
    font-size: 32px;
  }
}

.grid .grid-wrapper .item-wrapper .item .content h5 {
  text-align: center;
  font-size: 21px;
  margin: 10px 0px 0px 0px;
}

@media only screen and (max-width: 1068px) {
  .grid .grid-wrapper .item-wrapper .item .content h5 {
    font-size: 19px;
  }
}

.grid .grid-wrapper .item-wrapper .item .content .header {
  height: 56px;
  width: 100%;
  margin: 53px auto 0px;
  background-position: center;
  background-repeat: no-repeat;
}

@media only screen and (max-width: 1068px) {
  .grid .grid-wrapper .item-wrapper .item .content .header {
    margin: 44px auto 0px;
    height: 30px;
  }
}

.grid .grid-wrapper .item-wrapper .item .content .watch {
  background-image: url(../../assets/largest/logo_watch.png);
}

@media only screen and (max-width: 1068px) {
  .grid .grid-wrapper .item-wrapper .item .content .watch {
    height: 45px;
    background-image: url(../../assets/medium/promo_logo_watch_lte__emrof7zzkriq_medium.png);
  }
}

.grid .grid-wrapper .item-wrapper .item .content .ipad {
  background-image: url(../../assets/largest/logo_ipadair.png);
}

@media only screen and (max-width: 1068px) {
  .grid .grid-wrapper .item-wrapper .item .content .ipad {
    background-image: url(../../assets/medium/promo_logo_ipadair__frwnnsqveeye_medium.png);
  }
}

.grid .grid-wrapper .item-wrapper .item .content .card {
  background-image: url(../../assets/largest/logo__dcojfwkzna2q_large.png);
}

@media only screen and (max-width: 1068px) {
  .grid .grid-wrapper .item-wrapper .item .content .card {
    background-image: url(../../assets/medium/logo__dcojfwkzna2q_medium.png);
  }
}

.grid .grid-wrapper .item-wrapper .item .main-img {
  height: 580px;
  width: 1262px;
  background-size: 1262px 580px;
}

@media only screen and (max-width: 1068px) {
  .grid .grid-wrapper .item-wrapper .item .main-img {
    height: 490px;
    width: 516px;
    background-size: 516px 490px;
  }
}

.grid .grid-wrapper .item-wrapper .item .studio-display {
  background-image: url(../../assets/largest/promo_studiodisplay_avail__d1cx9j73ooq6_large.jpg);
}

@media only screen and (max-width: 1068px) {
  .grid .grid-wrapper .item-wrapper .item .studio-display {
    background-image: url(../../assets/medium/promo_studiodisplay_avail__d1cx9j73ooq6_medium.jpg);
  }
}

.grid .grid-wrapper .item-wrapper .item .mac-studio {
  background-image: url(../../assets/largest/promo_macstudio_avail__byhwkp0o4gty_large.jpg);
}

@media only screen and (max-width: 1068px) {
  .grid .grid-wrapper .item-wrapper .item .mac-studio {
    background-image: url(../../assets/medium/promo_macstudio_avail__byhwkp0o4gty_medium.jpg);
  }
}

.grid .grid-wrapper .item-wrapper .item .iphone13 {
  background-image: url(../../assets/largest/promo_iphone13_avail__frc36u35m0ii_large.jpg);
}

@media only screen and (max-width: 1068px) {
  .grid .grid-wrapper .item-wrapper .item .iphone13 {
    background-image: url(../../assets/medium/promo_iphone13_avail__frc36u35m0ii_medium.jpg);
  }
}

.grid .grid-wrapper .item-wrapper .item .watch {
  background-image: url(../../assets/largest/promo_watch_lte__djeaso7ukrsm_large.jpg);
}

@media only screen and (max-width: 1068px) {
  .grid .grid-wrapper .item-wrapper .item .watch {
    background-image: url(../../assets/medium/promo_watch_lte__djeaso7ukrsm_medium.jpg);
  }
}

.grid .grid-wrapper .item-wrapper .item .ipadair {
  background-image: url(../../assets/largest/promo_ipadair_avail__ferd4bfpcdm6_large.jpg);
}

@media only screen and (max-width: 1068px) {
  .grid .grid-wrapper .item-wrapper .item .ipadair {
    background-image: url(../../assets/medium/promo_ipadair_avail__ferd4bfpcdm6_medium.jpg);
  }
}

.grid .grid-wrapper .item-wrapper .item .card {
  background-image: url(../../assets/largest/tile__cauwwcyyn9hy_large.jpg);
}

@media only screen and (max-width: 1068px) {
  .grid .grid-wrapper .item-wrapper .item .card {
    background-image: url(../../assets/medium/tile__cauwwcyyn9hy_medium.jpg);
  }
}
/*# sourceMappingURL=grid.css.map */